kanivin/public/js/lib/*
kanivin/public/js/kanivin/misc/tests/*
kanivin/public/js/kanivin/views/test_runner.js
kanivin/core/doctype/doctype/boilerplate/*
kanivin/core/doctype/report/boilerplate/*
kanivin/public/js/kanivin/class.js
kanivin/templates/includes/*
kanivin/www/website_script.js
